@import 'styles/_mixins';

.container {
  margin-top: 2rem;

  .uploadActions {
    @include flex-horizontal;

    p {
      margin: 0 $spacing-4;
    }

    @include mobile() {
      @include flex-vertical;
      align-items: center;
      justify-content: center;
      width: 100%;

      p {
        margin-top: $spacing-2;
      }
    }
  }
}
