@import 'styles/_mixins';
@import 'styles/_variables';

.title {
  flex: 1;
  margin-bottom: 10px;
  font-size: 24px;
  color: $blue-900;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.subtitle {
  font-size: 14px;
  color: $blue-900;
}

.datetimeWrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.dateWrapper {
}
.timeWrapper {
}

.dateInput {
  line-height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #c9cccf;
  font-weight: 400;
  letter-spacing: -0.011rem;
  width: 200px;
}

.dateInput::-webkit-datetime-edit-day-field {
  padding-left: 16px;
}

.dateInput::-webkit-datetime-edit-year-field {
  padding-right: 16px;
}

.timeInput {
  line-height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #c9cccf;
  font-weight: 400;
  letter-spacing: -0.011rem;
  width: 120px;
}
.timeInput::-webkit-datetime-edit-hour-field {
  padding-left: 16px;
}
.timeInput::-webkit-datetime-edit-minute {
  padding-right: 16px;
}

.actionButton {
  float: right;
  margin: 3rem 0;
}

:global {
  .chakra-popover__popper {
    z-index: 121 !important;
  }
}
