@import 'styles/_variables';
@import 'styles/_mixins';

.confirm {
  @include flex-vertical;
  align-items: center;
}

.modalImg {
  width: 16rem;
  margin-bottom: 2rem;
}

.icon {
  @extend %icon;
}

.greenButton {
  @extend %success-btn;
}

.redButton {
  @extend %error-btn;
}

.blueButton {
  @extend %primary-btn;
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}

.options {
  display: flex;
}
