@import 'styles/_variables';

$button-width: 7rem;

.inputWithButton {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin-top: 1rem;

  input.textInput {
    width: 100%;
    flex-shrink: 1;
    margin-right: -$button-height;
    padding-right: $button-height + 0.5rem;
  }
}

.inputButton {
  min-width: $button-width;
  flex-grow: 1;
  flex-shrink: 0;
}
