@import 'styles/_variables';

$button-width: 7rem;

.inputWithButton {
  width: 100%;
  box-sizing: border-box;
  display: flex;

  input.textInput {
    width: 100%;
    flex-shrink: 1;
    margin-right: -$button-height;
    padding-right: $button-height + 0.5rem;
  }

  input.textInput.error {
    border-color: $error;
  }
}

.inputButton {
  min-width: $button-width;
  flex-grow: 1;
  flex-shrink: 0;
}

.errorMessage {
  @extend %caption;
  padding-left: $border-radius;
  color: $error;
}
