@import 'styles/_variables';
@import 'styles/_mixins';

.createContainer {
  display: flex;
  flex: 1;
  position: relative;

  @include mobile() {
    flex-direction: column;
    align-items: center;
  }
}

.stepContainer {
  display: block;
  max-width: $content-max-width;
  width: calc(100% - #{$progress-pane-width} - 2 * #{$site-padding});
  padding: $content-top-padding 0 $content-bottom-padding;
  margin: 0 auto;

  @include mobile() {
    width: calc(100% - 2 * #{$mobile-site-padding});
  }
}

.sendInfo {
  p {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.spinner {
  @include spinner;
}

.greyText {
  color: $light-grey;
}

.darkBlueBtn {
  @include button($dark-blue);
}

.turquoiseGreenBtn {
  @include button($turquoise-green);
}

.sendRateContainer {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  a {
    cursor: pointer;
  }

  input {
    width: 7rem;
    margin-right: 1rem;
  }
}

.uploadActions {
  @include flex-horizontal;
  justify-content: space-between;
  width: 65%;
  margin: 3rem 0;

  p {
    margin-bottom: 0;
  }

  @include mobile() {
    @include flex-vertical;
    align-items: center;
    justify-content: center;
    width: 100%;

    div,
    p {
      margin-bottom: 2rem;
    }
  }
}

.validateCredentialsInfo {
  margin-bottom: 2.5rem;
}

.newCredentialsButton {
  margin-top: 2rem;
}

.greenInfoBlock {
  @include block(rgba($turquoise-green, 0.2), $turquoise-green);
}

.editBtn {
  margin-right: 2rem;
  cursor: pointer;
}

.inputLabelHelpLink {
  margin-left: 0.5rem;
  font-weight: normal;
  font-size: 0.75rem;
  font-style: italic;
  color: $dark-blue;
  text-decoration: underline;
}

.twilioCredentialsInput {
  h5 {
    display: inline-block;
    margin-right: 0.6rem;
  }

  a {
    font-size: 1rem;

    &:visited {
      color: $dark-blue;
    }
  }
}
