@import 'styles/_variables';
@import 'styles/_mixins';

.createContainer {
  display: flex;
  flex: 1;
  position: relative;
}

.stepContainer {
  display: block;
  width: 750px;
  padding: $content-top-padding $site-padding $content-bottom-padding;
  margin: 0 auto;
}

.sendInfo {
  p { margin-bottom: 0; }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.spinner {
  @include icon;
  width: 3rem;
  font-size: 3rem;
  align-self: center;
  margin: 2rem;
}

.darkBlueBtn {
  @include button($dark-blue)
}

.turquoiseGreenBtn {
  @include button($turquoise-green);
}
