@import 'styles/_variables';
@import 'styles/_mixins';

.createContainer {
  display: flex;
  flex: 1;
  position: relative;

  @include mobile() {
    flex-direction: column;
    align-items: center;
  }
}

.stepContainer {
  display: block;
  max-width: $content-max-width;
  width: 100%;
  padding: $content-top-padding $site-padding $content-bottom-padding;
  margin: 0 auto;

  @include mobile() {
    padding: $content-top-padding $mobile-site-padding $content-bottom-padding;
  }
}

.sendInfo {
  p {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.spinner {
  @include icon;
  width: 3rem;
  font-size: 3rem;
  align-self: center;
  margin: 2rem;
}

.greyText {
  color: $light-grey;
}

.darkBlueBtn {
  @include button($dark-blue);
}

.turquoiseGreenBtn {
  @include button($turquoise-green);
}

.sendRateContainer {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  a {
    cursor: pointer;
  }

  input {
    width: 7rem;
    margin-right: 1rem;
  }
}

.uploadActions {
  @include flex-horizontal;
  justify-content: space-between;
  width: 65%;
  margin: 3rem 0;

  p {
    margin-bottom: 0;
  }

  @include mobile() {
    @include flex-vertical;
    align-items: center;
    justify-content: center;
    width: 100%;

    div,
    p {
      margin-bottom: 2rem;
    }
  }
}

.validateSMSCredentialsInfo {
  margin-bottom: 2rem;
}

.newCredentialsButton {
  margin-top: 2rem;
}
