@import 'styles/_variables';
@import 'styles/_mixins';

.createContainer {
  display: flex;
  flex: 1;
  position: relative;

  @include mobile() {
    flex-direction: column;
    align-items: center;
  }
}

.stepContainer {
  display: block;
  max-width: $content-max-width;
  width: calc(100% - #{$side-nav-width} - 2 * #{$site-padding});
  padding: $content-top-padding 0 $content-bottom-padding;
  margin: 0 auto;

  @include mobile() {
    width: calc(100% - 2 * #{$mobile-site-padding});
  }
}

.detailContainer {
  max-width: 640px;
}

.sendInfo {
  p {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.spinner {
  @include spinner;
}

.greyText {
  color: $light-grey;
}

.darkBlueText {
  color: $secondary;
}

.darkBlueBtn {
  @extend %secondary-btn;
}

.turquoiseGreenBtn {
  @extend %success-btn;
}

.sendRateContainer {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
  a {
    cursor: pointer;
  }

  input {
    width: 7rem;
    margin-right: 1rem;
  }
}

.uploadActions {
  @include flex-horizontal;
  justify-content: space-between;
  width: 65%;
  margin: 3rem 0;

  p {
    margin-bottom: 0;
  }

  @include mobile() {
    @include flex-vertical;
    align-items: center;
    justify-content: center;
    width: 100%;

    div,
    p {
      margin-bottom: 2rem;
    }
  }
}

.validateCredentialsInfo {
  margin-bottom: 2.5rem;
}

.credentialLabelError {
  color: $red;
  font-size: 0.8rem;
  padding-left: 1.4rem;
}

.credentialLabelInputError {
  border-color: $red;
}

.newCredentialsButton {
  margin-top: 2rem;
}

.greenInfoBlock {
  @include block(rgba($success, 0.2), $success);
}

.editBtn {
  margin-right: 2rem;
  cursor: pointer;
}

.inputLabelHelpLink {
  margin-left: 0.5rem;
  font-weight: normal;
  font-size: 0.75rem;
  font-style: italic;
  color: $secondary;
  text-decoration: underline;
  &.infoLink {
    color: $primary;
  }
}

.characterCount {
  margin-top: -1rem;
  text-align: right;
  font-size: 0.85rem;
  color: $light-grey;
}

.protectedPreview {
  border-radius: 1.25rem;
}
