@import 'styles/_variables';
@import 'styles/_mixins';

.close {
  @include flex-center;
  color: $grey;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 100;
  transform: rotate(45deg);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:active {
    color: $indigo-blue;
  }
}
