@import 'styles/_variables';
@import 'styles/_mixins';

.close {
  @include flex-center;
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  user-select: none;
  border: 0;
  background: none;
  padding: 0;

  :global {
    i.bx {
      display: block;
      font-size: inherit;
      line-height: 1;
      font-weight: 100;
      border-radius: 50%;
      margin: 0;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $primary-light;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
