language: node_js
node_js:
  - lts/*

services:
  - docker

# Skip the automatic npm ci step 
install: skip
cache:
  directories:
    - frontend/node_modules

# Deploy from Dockerfile
jobs:
  include:
  - name: backend
    before_script:
      - cd backend
    script:
      - npm install
      - npm run test
    deploy:
      - provider: elasticbeanstalk
        skip_cleanup: true
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        region: $AWS_DEFAULT_REGION
        app: "postmangovsg-backend"
        env: "postmangovsg-backend-staging"
        bucket_name: "postmangovsg-backend-elasticbeanstalk"
        on:
          branch: $STAGING_BRANCH
      - provider: elasticbeanstalk
        skip_cleanup: true
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        region: $AWS_DEFAULT_REGION
        app: "postmangovsg-backend"
        env: "postmangovsg-backend-prod"
        bucket_name: "postmangovsg-backend-elasticbeanstalk"
        on:
          branch: $PRODUCTION_BRANCH
  - name: worker
    before_script:
      - cd worker
    deploy:
      - provider: script
        script: ./deploy.sh postmangovsg-workers staging-sending staging-logger
        on:
          branch: $STAGING_BRANCH
          condition: "$DEPLOY_WORKER = true"
      - provider: script
        script: ./deploy.sh postmangovsg-workers prod-sending prod-logger
        on:
          branch: $PRODUCTION_BRANCH
          condition: "$DEPLOY_WORKER = true"
  - name: frontend
    before_install:
      - cd frontend
    install:
      - npm i
    script:
      - npm run lint
      - CI=false npm run build
  - name: lambda
    before_deploy:
      - cd lambda
      - cd logTwilioCallback &&  zip -qr code.zip build package.json node_modules/
      - cd ../authorizer && zip -qr code.zip *
    deploy:
      - provider: lambda
        function_name: logTwilioCallback
        region: ap-southeast-1
        role: // INSERT ROLE HERE
        runtime: nodejs12.x
        module_name: build/index
        handler_name: handler
        publish: true
        zip: "../logTwilioCallback/code.zip"
        environment_variables:
          - BACKEND_URL=$BACKEND_URL
          - TWILIO_CALLBACK_SECRET=$TWILIO_CALLBACK_SECRET
          - DB_URI=$DB_URI
      - provider: lambda
        function_name: fetchData
        region: ap-southeast-1
        role: // INSERT ROLE HERE
        runtime: nodejs12.x
        handler_name: handler
        publish: true
        zip: "../authorizer/code.zip"