language: node_js
node_js:
  - lts/*

services:
  - docker
  - postgresql
  - redis-server

cache: npm

# Deploy from Dockerfile
jobs:
  include:
    - name: backend
      before_install:
        - cd $TRAVIS_BUILD_DIR/backend
        - npx lockfile-lint --type npm --path package-lock.json -o "https:" -o "file:" --allowed-hosts npm
      install:
        - npm ci
      before-script:
        - psql -c 'create database postmangovsg_test_1;' -U postgres
        - psql -c 'create database postmangovsg_test_2;' -U postgres
      script:
        - npm run lint-no-fix
        - npm run test
      before_deploy:
        - cd $TRAVIS_BUILD_DIR/backend && ./before-deploy.sh
      deploy:
        - provider: elasticbeanstalk
          edge: true
          skip_cleanup: true
          access_key_id: $AWS_ACCESS_KEY_ID
          secret_access_key: $AWS_SECRET_ACCESS_KEY
          region: $AWS_DEFAULT_REGION
          app: "postmangovsg"
          env: "postmangovsg-staging-amz2"
          bucket_name: "postmangovsg-elasticbeanstalk-appversion"
          on:
            branch: $STAGING_BRANCH
        - provider: elasticbeanstalk
          edge: true
          skip_cleanup: true
          access_key_id: $AWS_ACCESS_KEY_ID
          secret_access_key: $AWS_SECRET_ACCESS_KEY
          region: $AWS_DEFAULT_REGION
          app: "postmangovsg"
          env: "postmangovsg-staging-amz2-callback"
          bucket_name: "postmangovsg-elasticbeanstalk-appversion"
          on:
            branch: $STAGING_BRANCH
        - provider: elasticbeanstalk
          edge: true
          skip_cleanup: true
          access_key_id: $AWS_ACCESS_KEY_ID
          secret_access_key: $AWS_SECRET_ACCESS_KEY
          region: $AWS_DEFAULT_REGION
          app: "postmangovsg"
          env: "postmangovsg-production-amz2"
          bucket_name: "postmangovsg-elasticbeanstalk-appversion"
          on:
            branch: $PRODUCTION_BRANCH
        - provider: elasticbeanstalk
          edge: true
          skip_cleanup: true
          access_key_id: $AWS_ACCESS_KEY_ID
          secret_access_key: $AWS_SECRET_ACCESS_KEY
          region: $AWS_DEFAULT_REGION
          app: "postmangovsg"
          env: "postmangovsg-production-amz2-callback"
          bucket_name: "postmangovsg-elasticbeanstalk-appversion"
          on:
            branch: $PRODUCTION_BRANCH
    - name: worker
      before_install:
        - cd $TRAVIS_BUILD_DIR/worker
        - npx lockfile-lint --type npm --path package-lock.json -o "https:" -o "file:" --allowed-hosts npm
      install:
        - npm ci
      script:
        - npm run lint-no-fix
      before_deploy:
        - cd $TRAVIS_BUILD_DIR/worker && ./before-deploy.sh
      deploy:
        - provider: script
          skip_cleanup: true
          script: ./deploy.sh postmangovsg-workers staging-sending staging-logging
          on:
            branch: $STAGING_BRANCH
            condition: "$DEPLOY_WORKER = true"
        - provider: script
          skip_cleanup: true
          script: ./deploy.sh postmangovsg-workers prod-sending prod-logging
          on:
            branch: $PRODUCTION_BRANCH
            condition: "$DEPLOY_WORKER = true"
    - name: frontend
      before_install:
        - cd $TRAVIS_BUILD_DIR/frontend
      install:
        - npm install
      script:
        - npx lockfile-lint --type npm --path package-lock.json -o "https:" -o "file:" --allowed-hosts npm
        - npm run compile
        - npm run lint-no-fix
        - CI=false npm run build
    - name: serverless-unsubscribe-digest
      before_install:
        - cd $TRAVIS_BUILD_DIR/serverless/unsubscribe-digest
      install:
        - npm install
      before_deploy:
        - npx lockfile-lint --type npm --path package-lock.json --validate-https --allowed-hosts npm
        - npm run build
        - npm prune --production
        - zip -qr code.zip build src package.json node_modules/
      deploy:
        - provider: lambda
          edge: true
          function_name: unsubscribe-digest-production
          region: $AWS_DEFAULT_REGION
          role: $PRODUCTION_UNSUBSCRIBE_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 256
          publish: true
          zip: "../unsubscribe-digest/code.zip"
          on:
            branch: $PRODUCTION_BRANCH
          environment_variables:
            - DB_URI=$PRODUCTION_UNSUBSCRIBE_DIGEST_DB_URI
            - DB_READ_REPLICA_URI=$PRODUCTION_UNSUBSCRIBE_DIGEST_DB_READ_REPLICA_URI
            - DB_USE_IAM=$PRODUCTION_DB_USE_IAM
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - SES_FROM=$PRODUCTION_UNSUBSCRIBE_DIGEST_SES_FROM
            - SES_HOST=$PRODUCTION_UNSUBSCRIBE_DIGEST_SES_HOST
            - SES_PASS=$PRODUCTION_UNSUBSCRIBE_DIGEST_SES_PASS
            - SES_USER=$PRODUCTION_UNSUBSCRIBE_DIGEST_SES_USER
            - SES_PORT=$PRODUCTION_UNSUBSCRIBE_DIGEST_SES_PORT
            - UNSUBSCRIBE_GUIDE_URL=$UNSUBSCRIBE_GUIDE_URL
            - CRONITOR_CODE=$PRODUCTION_UNSUBSCRIBE_CRONITOR_CODE
        - provider: lambda
          edge: true
          function_name: unsubscribe-digest-staging
          region: $AWS_DEFAULT_REGION
          role: $STAGING_UNSUBSCRIBE_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 256
          publish: true
          zip: "../unsubscribe-digest/code.zip"
          on:
            branch: $STAGING_BRANCH
          environment_variables:
            - DB_URI=$STAGING_UNSUBSCRIBE_DIGEST_DB_URI
            - DB_READ_REPLICA_URI=$STAGING_UNSUBSCRIBE_DIGEST_DB_READ_REPLICA_URI
            - DB_USE_IAM=$STAGING_DB_USE_IAM
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - NODE_ENV=staging
            - SES_FROM=$STAGING_UNSUBSCRIBE_DIGEST_SES_FROM
            - SES_HOST=$STAGING_UNSUBSCRIBE_DIGEST_SES_HOST
            - SES_PASS=$STAGING_UNSUBSCRIBE_DIGEST_SES_PASS
            - SES_USER=$STAGING_UNSUBSCRIBE_DIGEST_SES_USER
            - SES_PORT=$STAGING_UNSUBSCRIBE_DIGEST_SES_PORT
            - UNSUBSCRIBE_GUIDE_URL=$UNSUBSCRIBE_GUIDE_URL
            - CRONITOR_CODE=$STAGING_UNSUBSCRIBE_CRONITOR_CODE
    - name: serverless-database-backup
      before_install:
        - cd $TRAVIS_BUILD_DIR/serverless/database-backup
      script:
        - npx lockfile-lint --type npm --path package-lock.json --validate-https --allowed-hosts npm
      before_deploy:
        - npm run build:docker
      deploy:
        - provider: lambda
          edge: true
          function_name: database-backup-production
          region: $AWS_DEFAULT_REGION
          role: $PRODUCTION_BACKUP_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 512
          publish: true
          zip: "../database-backup/code.zip"
          on:
            branch: $PRODUCTION_BRANCH
          environment_variables:
            - DB_URI=$PRODUCTION_BACKUP_DB_URI
            - DB_USE_IAM=$PRODUCTION_DB_USE_IAM
            - BACKUP_BUCKET_NAME=$PRODUCTION_BACKUP_BUCKET_NAME
            - GCP_SECRET_NAME=$PRODUCTION_BACKUP_GCP_SECRET_NAME
            - KEY_ENCRYPTION_PUBLIC_KEY=$PRODUCTION_BACKUP_PUBLIC_KEY
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - CRONITOR_CODE=$PRODUCTION_BACKUP_CRONITOR_CODE
        - provider: lambda
          edge: true
          function_name: database-backup-staging
          region: $AWS_DEFAULT_REGION
          role: $STAGING_BACKUP_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 512
          publish: true
          zip: "../database-backup/code.zip"
          on:
            branch: $STAGING_BRANCH
          environment_variables:
            - NODE_ENV=staging
            - DB_URI=$STAGING_BACKUP_DB_URI
            - DB_USE_IAM=$STAGING_DB_USE_IAM
            - BACKUP_BUCKET_NAME=$STAGING_BACKUP_BUCKET_NAME
            - GCP_SECRET_NAME=$STAGING_BACKUP_GCP_SECRET_NAME
            - KEY_ENCRYPTION_PUBLIC_KEY=$STAGING_BACKUP_PUBLIC_KEY
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - CRONITOR_CODE=$STAGING_BACKUP_CRONITOR_CODE
    - name: serverless-eb-env-update
      before_deploy:
        - cd $TRAVIS_BUILD_DIR/serverless/eb-env-update
        - npm install && npm run build && npm prune --production
        - zip -qr code.zip build package.json node_modules/
      deploy:
        - provider: lambda
          edge: true
          function_name: eb-env-update-production
          region: $AWS_DEFAULT_REGION
          role: $PRODUCTION_EBENVUPDATE_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 10
          memory_size: 128
          publish: true
          zip: "../eb-env-update/code.zip"
          on:
            branch: $PRODUCTION_BRANCH
          environment_variables:
            - NODE_ENV=production
            - SECRET_ID=$PRODUCTION_SECRET_ID
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
        - provider: lambda
          edge: true
          function_name: eb-env-update-staging
          region: $AWS_DEFAULT_REGION
          role: $STAGING_EBENVUPDATE_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 10
          memory_size: 128
          publish: true
          zip: "../eb-env-update/code.zip"
          on:
            branch: $STAGING_BRANCH
          environment_variables:
            - NODE_ENV=staging
            - SECRET_ID=$STAGING_SECRET_ID
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
    - name: serverless-redaction-digest
      before_deploy:
        - cd $TRAVIS_BUILD_DIR/serverless/redaction-digest
        - npm install && npm run build && npm prune --production
        - zip -qr code.zip build src package.json node_modules/
      deploy:
        - provider: lambda
          edge: true
          function_name: redaction-digest-production
          region: $AWS_DEFAULT_REGION
          role: $PRODUCTION_REDACTION_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 256
          publish: true
          zip: "../redaction-digest/code.zip"
          on:
            branch: $PRODUCTION_BRANCH
          environment_variables:
            - DB_URI=$PRODUCTION_REDACTION_DIGEST_DB_URI
            - DB_READ_REPLICA_URI=$PRODUCTION_REDACTION_DIGEST_DB_READ_REPLICA_URI
            - DB_USE_IAM=$PRODUCTION_DB_USE_IAM
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - SES_FROM=$PRODUCTION_REDACTION_DIGEST_SES_FROM
            - SES_HOST=$PRODUCTION_REDACTION_DIGEST_SES_HOST
            - SES_PASS=$PRODUCTION_REDACTION_DIGEST_SES_PASS
            - SES_USER=$PRODUCTION_REDACTION_DIGEST_SES_USER
            - SES_PORT=$PRODUCTION_REDACTION_DIGEST_SES_PORT
            - CRONITOR_CODE=$PRODUCTION_REDACTION_CRONITOR
        - provider: lambda
          edge: true
          function_name: redaction-digest-staging
          region: $AWS_DEFAULT_REGION
          role: $STAGING_REDACTION_ROLE
          runtime: nodejs12.x
          module_name: build/index
          handler_name: handler
          timeout: 600
          memory_size: 256
          publish: true
          zip: "../redaction-digest/code.zip"
          on:
            branch: $STAGING_BRANCH
          environment_variables:
            - DB_URI=$STAGING_REDACTION_DIGEST_DB_URI
            - DB_READ_REPLICA_URI=$STAGING_REDACTION_DIGEST_DB_READ_REPLICA_URI
            - DB_USE_IAM=$STAGING_DB_USE_IAM
            - SENTRY_DSN=$SERVERLESS_SENTRY_DSN
            - NODE_ENV=staging
            - SES_FROM=$STAGING_REDACTION_DIGEST_SES_FROM
            - SES_HOST=$STAGING_REDACTION_DIGEST_SES_HOST
            - SES_PASS=$STAGING_REDACTION_DIGEST_SES_PASS
            - SES_USER=$STAGING_REDACTION_DIGEST_SES_USER
            - SES_PORT=$STAGING_REDACTION_DIGEST_SES_PORT
            - CRONITOR_CODE=$STAGING_REDACTION_CRONITOR
    - name: root
      install:
        - npm install --ignore-scripts
      script:
        - npx lockfile-lint --type npm --path package-lock.json --validate-https --allowed-hosts npm
        - npm run lint-no-fix
