version: "3"

services:
  postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postmangovsg_dev
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566-4599:4566-4599"
    environment:
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - FILE_STORAGE_BUCKET_NAME=localstack-upload
      - AWS_LOG_GROUP_NAME=postmangovsg-beanstalk-localstack
    volumes:
      - ./localstack:/docker-entrypoint-initaws.d
      - localstack-data:/tmp/localstack
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  pg-data:
  localstack-data:
