@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  width: 80%;
  display: flex;
  flex-direction: column;

  .text {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  input {
    background-color: $light-blue;
  }
}
