@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  width: 80%;
  display: flex;
  flex-direction: column;

  .text {
    height: 2.5rem;
    font-weight: 500; 

    @include mobile() {
      height: 4rem;
    }
  }

  input {
    background-color: $light-blue;
  }
}
