@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  width: 448px;
  display: flex;
  flex-direction: column;

  @include mobile() {
    width: 80%;
    align-items: center;
  }

  .text {
    margin-bottom: $spacing-4;
  }

  input {
    background-color: $neutral-light;
  }

  p {
    text-align: center;
    padding-top: 8px;
    font-size: 16px;

    a {
      font-size: 16px;
    }
  }

  .resend {
    text-decoration: underline;
    margin-left: 1rem;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      color: $neutral;
    }
  }
}

.subtitleElement {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 14.4px;

  a {
    font-size: 14.4px;
  }
}
