@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  width: 448px;
  display: flex;
  flex-direction: column;

  @include mobile() {
    width: 80%;
    align-items: center;
  }

  .text {
    margin-bottom: $spacing-4;
  }

  input {
    background-color: $neutral-light;
  }

  .info {
    box-shadow: 1px 1px 1px 1px black;
  }

  .resend {
    text-decoration: underline;
    margin-left: 1rem;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      color: $neutral;
    }
  }
}
