@import 'styles/_mixins';

.disclaimer {
  opacity: 0.9;
  padding-top: 5px;
  padding-bottom: 8px;
}

.disclaimer_url {
  font-size: unset;
}

.frame {
  width: 100%;
  height: 500px;
  border: 0;
}

.footer {
  font-family: Sans-Serif, serif;
  font-size: 12px;
  opacity: 0.5;
  padding-top: 5px;
}

.url {
}
