files:
  "/etc/nginx/conf.d/timeout.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
        client_header_timeout   100;
        client_body_timeout     100;
        keepalive_timeout       100;
        send_timeout            100;
        proxy_connect_timeout   100;
        proxy_read_timeout      100;
        proxy_send_timeout      100;

container_commands:
  01_restart_nginx:
    command: "sudo service nginx reload"