# .ebextensions/99datadog.config
option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_AGENT_MAJOR_VERSION
      value: "7"
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DD_AGENT_MINOR_VERSION
      # Pinned to 7.71+ to address CVE for local privilege escalation (affects 7.65.0-7.70.2)
      # See: Datadog Security Notification - Oct 2025
      value: "71" # Installs 7.71.x which contains the security fix

files:
  "/etc/datadog-agent/datadog.yaml": 
    mode: "000640"
    owner: root # will be changed to dd-agent after the installation
    group: root
    content: |
      # Add here the Agent configuration
      api_key: "@DD_API_KEY"
      site: datadoghq.com
      logs_enabled: true
      apm_config:
        enabled: "true"
        apm_non_local_traffic: "true"
      tags:
        - service:postman

  "/etc/datadog-agent/conf.d/postman.d/conf.yaml":
    mode: "000640"
    owner: root
    content: |
      logs:
        - type: file
          path: '/var/log/eb-docker/containers/eb-current-app/*.log'
          service: 'postman'
          source: 'nodejs'

  "/datadog_install_script.sh": 
    mode: "000700"
    owner: root
    group: root
    source: https://s3.amazonaws.com/dd-agent/scripts/install_script.sh

container_commands:
    05setup_datadog:
        command: "DD_API_KEY=unused /datadog_install_script.sh; sed -i 's/ install_script/ ebs_install_script/' /etc/datadog-agent/install_info"
    
