@import 'styles/_mixins';

.export {
  @include flex-horizontal;
  color: $primary;
  padding: 0.5rem;

  &.unavailable {
    color: $light-grey;
    cursor: not-allowed;
  }

  &.ready {
    cursor: pointer;
  }

  .icon {
    @include icon;
    font-size: 20px;
    margin-right: 0.5rem;
  }

  div.left {
    display: flex;
  }

  div.right {
    display: flex;
    flex-direction: row-reverse;
  }
}

.disabled {
  opacity: 0.5;
}

.actionButton {
  @include flex-horizontal;
  justify-content: space-between;
  margin: 3rem 0;

  .exportButton {
    margin-left: 3rem;
  }

  .disableActiveState {
    cursor: not-allowed;

    &:active {
      span,
      i {
        color: $primary;
      }
    }

    &:hover {
      border-width: 1px;
      background-color: white;
    }
  }
}
