@import 'styles/_mixins';

.export {
  @include flex-horizontal;
  padding: 0.5rem;

  .ready {
    cursor: pointer;
  }

  .unavailable {
    color: $light-grey;
  }

  .icon {
    @include icon;
    margin-right: 0.5rem;
  }
}

.disabled {
  opacity: 0.5;
}
