// Colours
$dark-blue: #100c55;
$indigo-blue: #2c2cdc;
$light-blue: #f5f6fc;
$turquoise-green: #0090a6;
$transparent-dark-blue: rgba(16, 12, 85, 0.95);
$transparent-blue: rgba(181, 196, 255, 0.3);
$light-grey: #a2abb4;
$grey: #878f96;
$red: #db4f5d;
$light-red: rgba(219, 79, 93, 0.1);

// Dimensions
$content-max-width: 750px;
$button-min-width: 12rem;
$button-height: 2.8rem;
$border-radius: $button-height / 2;

// Paddings
$site-padding: 4vw;
$mobile-site-padding: 5vw;
$content-top-padding: 4vh;
$content-bottom-padding: 15vh;

// Fonts
$font-stack: 'Noto Sans JP', sans-serif;
