@import 'base';

// Colours
// TODO: Non-standard colour that's used in components. Remove after fixing components styles.
$light-grey: #a2abb4;

// Dimensions
$content-max-width: 728px;
$side-nav-width: 400px;

// Paddings
$site-padding: 4vw;
$mobile-site-padding: 5vw;
$content-top-padding: $layout-5;
$content-bottom-padding: 15vh;

// Layout
$landing-max-width: 1000px;
$header-max-width: 1400px;
$navbar-height: 4rem;
$navbar-mobile-height: 4rem;
$title-bar-height: 5rem;
