// Colours
$dark-blue: #100c55;
$indigo-blue: #2c2cdc;
$light-blue: #f5f6fc;

// Dimensions
$nav-bar-height: 90px;
$title-bar-height: 100px;
$button-min-width: 10rem;

// Fonts
$font-stack: 'Noto Sans', sans-serif;

// Update Bulma's global variables
$family-sans-serif: $font-stack;
$primary: $indigo-blue;
$info: $dark-blue;
$text: $dark-blue;
$control-border-width: 1px;

// override
$button-focus-box-shadow-size: 0;
$input-focus-box-shadow-size: 0;
$input-background-color: transparent;