@import 'base';

// Colours
$dark-blue: #100c55;
$indigo-blue: #2c2cdc;
$light-blue: #f5f6fc;
$pastel-blue: #9dadf5;
$turquoise-green: #0090a6;
$transparent-dark-blue: rgba(16, 12, 85, 0.95);
$transparent-blue: rgba(181, 196, 255, 0.3);
$placeholder-grey: #c1c7cd;
$light-grey: #a2abb4;
$grey: #878f96;
$red: #db4f5d;
$light-red: rgba(219, 79, 93, 0.1);

// Dimensions
$content-max-width: 700px;
$button-min-width: 10rem;
$button-height: 2.8rem;
$border-radius: $button-height / 2;
$progress-pane-width: 25rem;

// Paddings
$site-padding: 4vw;
$mobile-site-padding: 5vw;
$content-top-padding: 4vh;
$content-bottom-padding: 15vh;

// Layout
$landing-max-width: 1000px;
$header-max-width: 1400px;
$navbar-height: 4rem;
$navbar-mobile-height: 4rem;
$title-bar-height: 5rem;
