// Colours
$dark-blue: #100c55;
$indigo-blue: #2c2cdc;
$light-blue: #f5f6fc;
$light-blue-half-opacity: rgba(245, 246, 252, 0.5);

// Dimensions
$button-min-width: 10rem;

// Paddings
$site-padding: 3vw;

// Fonts
$font-stack: "Noto Sans", sans-serif;

// Update Bulma's global variables
$primary: $indigo-blue;
$info: $dark-blue;
$text: $dark-blue;
$control-border-width: 1px;

// bulma component override
$button-focus-box-shadow-size: 0;
$input-focus-box-shadow-size: 0;
$input-background-color: transparent;
