@import '~boxicons/css/boxicons.min.css';

@import 'styles/_variables';
@import 'styles/_mixins';
@import 'styles/_overrides';

html,
body {
  font-size: 16px;
  font-family: $font-stack;
  color: $secondary;
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @include mobile() {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

#root {
  display: block;
  min-height: 100vh;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@include mobile() {
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.15rem;
  }
}

a,
button {
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

li,
a {
  outline: none;
}

p {
  color: $secondary;
  margin-block-start: 0;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: 0.9rem;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
}

ul {
  list-style-type: none;
}

mark {
  background-color: rgba(255, 194, 204, 0.5);
  border-radius: 4px;
  padding-bottom: 2px;
  color: inherit;
}

sub {
  @extend %caption;
  color: $grey-700;
}

.separator {
  border-bottom: 1px solid adjust-color($primary-light, $alpha: -0.5);
  margin: 3rem 0;
}

.progress-button {
  text-align: right;
  margin-top: 3rem;
}

table {
  width: 100%;
  tr {
    @include flex-horizontal;
    border-bottom: 1px solid adjust-color($primary-light, $alpha: -0.5);
    height: $height-3;

    td,
    th {
      display: flex;
      align-items: center;

      &.xs {
        flex: 1.2;
      }

      &.sm {
        flex: 2;
      }

      &.md {
        flex: 3;
      }

      &.lg {
        flex: 4;
      }

      &.center {
        justify-content: center;
      }

      &.ellipsis {
        text-overflow: ellipsis;
        // Pre-requisites for ellipsis to work
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
      }
    }
  }
}

.spinner {
  @include spinner;
}

.popover {
  @extend %caption;
  position: absolute;
  z-index: 999;
  background: white;
  width: max-content;
  border: solid 1px $neutral;
  box-shadow: 0px 0px 10px rgba(193, 199, 205, 0.5);
  border-radius: 5px;
  padding: $spacing-1;
  margin-top: 0.25rem;
  word-break: break-all;
  display: flex;
  align-items: center;

  a {
    span {
      display: inline-block;
      max-width: 360px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 0.25rem;
    }
  }

  button {
    display: block;
  }

  &.right {
    right: 0.5rem;
    left: unset !important;
  }

  .divider {
    border-left: solid 1px $neutral;
    margin: 0 $spacing-1;
    height: $height-1;
  }
}

.bx-govsg {
  margin-top: 0.5rem;
}
.bx-govsg::before {
  content: url(../assets/img/sg-crest.svg);
}
