@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import '~boxicons/css/boxicons.min.css';

@import 'styles/_variables';
@import 'styles/_mixins';
@import 'styles/_overrides';

html,
body {
  font-size: 16px;
  font-family: $font-stack;
  color: $dark-blue;
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @include mobile() {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

#root {
  display: block;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@include mobile() {
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.15rem;
  }
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

li,
a {
  outline: none;
}

p {
  color: $dark-blue;
  margin-block-start: 0;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: 0.9rem;
}

.clickable {
  color: $indigo-blue;
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
}

ul {
  list-style-type: none;
}

mark {
  background-color: rgba(255, 194, 204, 0.5);
  border-radius: 4px;
  padding-bottom: 2px;
  color: inherit;
}

sub {
  color: $light-grey;
}

.separator {
  border-bottom: 1px solid $transparent-blue;
  margin: 3rem 0;
}

.progress-button {
  text-align: right;
  margin-top: 3rem;
}

table {
  width: 100%;
  tr {
    @include flex-horizontal;
    border-bottom: 1px solid $transparent-blue;

    td,
    th {
      padding: 0.75rem 0;
      display: flex;

      &.xs {
        flex: 1.2;
        text-align: center;
      }

      &.sm {
        flex: 2;
      }

      &.md {
        flex: 3;
      }

      &.lg {
        flex: 4;
      }
    }
  }
}
