@import 'styles/_variables';
@import 'styles/_mixins';

.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-horizontal;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  .channelContainer {
    @include flex-vertical;
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .button {
      @include flex-horizontal;
      @extend %heading-3;
      justify-content: space-between;
      height: 4.5rem;
      border: 1px solid $primary;
      cursor: default;

      &.active:hover {
        background: $primary;
      }

      &:not(.active) {
        color: $primary;
        background: transparent;

        &:hover {
          background: $neutral-light;
          border-width: 1.5px;
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}

.input {
  background-color: $neutral-light;
  &:disabled {
    background-color: rgba($grey-500, 0.3);
    border-color: rgba($grey-700, 0.3);
    color: $grey-700;
  }
}

.icon {
  @extend %icon;
}

.title {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2.5rem;
  &.inputLabel {
    margin-bottom: 1rem;
  }
}

.actions {
  @include flex-horizontal;
  justify-content: flex-end;

  & > .action:not(:first-child) {
    margin-left: $spacing-7;
  }

  @include mobile() {
    @include flex-vertical;
    align-items: center;
    width: 100%;

    & > .action:not(:first-child) {
      margin-top: $spacing-1;
      margin-left: 0;
    }
  }
}
