@import 'styles/_variables';
@import 'styles/_mixins';

.pagination {
  @include flex-horizontal;
  justify-content: center;
  margin-top: 3.5rem;
  padding-inline-start: 0;
}

.icon {
  @include icon;
  color: $secondary;
  vertical-align: middle;
  cursor: pointer;
}

.navIconDisabled span {
  color: $light-grey;
  cursor: default;
}

.break a {
  color: $secondary;
}

.pageNumber {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  @include flex-horizontal;
  justify-content: center;
  cursor: pointer;

  a {
    color: $secondary;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem;
  }
}

.active {
  background-color: $primary;
  border-radius: 1rem;
  cursor: default;

  a,
  a:hover {
    color: $neutral-light;
  }
}
