@import 'styles/_variables';
@import 'styles/_mixins';

.pagination {
  @include flex-horizontal;
  justify-content: center;
  margin-top: 3.5rem;
  padding-inline-start: 0;
}

.icon {
  @extend %icon;
  color: $secondary;
  vertical-align: middle;
  cursor: pointer;
}

.navIcon:first-child {
  margin-right: $spacing-5 - calc(($spacing-2 / 2));
}

.navIcon:last-child {
  margin-left: $spacing-5 - calc(($spacing-2 / 2));
}

.navIconDisabled span {
  color: $light-grey;
  cursor: default;
}

.break a {
  color: $secondary;
}

.pageNumber {
  @include flex-horizontal;

  width: 2rem;
  height: 2rem;
  margin-right: calc($spacing-2 / 2);
  margin-left: calc($spacing-2 / 2);
  justify-content: center;
  cursor: pointer;

  a {
    @extend %button-text;
    color: $secondary;
    padding: 0.5rem;
  }
}

.active {
  background-color: $primary;
  border-radius: 1rem;
  cursor: default;

  a,
  a:hover {
    color: $neutral-light;
  }
}
