@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  padding-bottom: 3rem;
  border-bottom: 1px solid $transparent-blue;
  width: 80%;
}

.credential {
  @include flex-vertical;
}

.inputLabel {
  font-weight: 500;
}

.inputPwd {
  letter-spacing: 0.2rem;
  pointer-events: none;
}