@import 'styles/_variables';
@import 'styles/_mixins';

.progress {
  table {
    margin-bottom: 3rem;

    tr {
      @include flex-horizontal;
      border-bottom: none;

      .icon {
        @include icon;
      }

      td.status {
        @include flex-horizontal;
        text-transform: uppercase;
        font-weight: 500;
      }

      th {
        text-transform: capitalize;
      }
    }
  }
}

.stats {
  margin-top: 3rem;
}

.icon {
  @include icon;
  margin-right: 0.5rem;

  &.red {
    color: $red;
  }

  &.blue {
    color: $indigo-blue;
  }

  &.green {
    color: $turquoise-green;
  }

  &.grey {
    color: $grey;
  }
}

.progressTitle {
  @include flex-horizontal;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: baseline;

  h2 {
    margin-right: 1rem;
  }

  .pause {
    @include button($red);
  }

  .retry {
    @include button($dark-blue);
  }

  .complete {
    @include button($turquoise-green);
    pointer-events: none;
  }

  a {
    font-size: 1rem;
  }
}

.actionButton {
  @include flex-horizontal;
  justify-content: flex-end;
  margin: 3rem 0;

  .disabledExport {
    border: 1px solid $grey;
  }

  .disablePointerEvents {
    cursor: default;

    &:hover {
      border-width: 1px;
      background-color: white;
    }
  }
}
