@import 'styles/_variables';
@import 'styles/_mixins';

.progress {
  table {
    margin-bottom: 3rem;

    tr {
      @include flex-horizontal;

      .icon {
        @include icon;
      }

      td.status {
        @include flex-horizontal;
        text-transform: uppercase;
        font-weight: 500;
      }

      th {
        @extend .caption;
        text-transform: capitalize;
      }
    }
  }
}

.stats {
  margin-top: 3rem;
}

.icon {
  @include icon;
  margin-right: 0.5rem;

  &.red {
    color: $error;
  }

  &.blue {
    color: $primary;
  }

  &.green {
    color: $success;
  }

  &.grey {
    color: $grey-700;
  }
}

.progressTitle {
  @include flex-horizontal;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: baseline;

  h2 {
    margin-right: 1rem;
  }

  .pause {
    @extend %error-btn;
  }

  .retry {
    @extend %secondary-btn;
  }

  .complete {
    @extend %success-btn;
    pointer-events: none;
  }

  a {
    font-size: 1rem;
  }
}

.statsLastUpdated {
  @include flex-horizontal;
  justify-content: space-between;
}
