@import 'styles/_variables';
@import 'styles/_mixins';
$navbar-link-margin: calc(1rem + 1vw);
$navbar-height: 4rem;
$navbar-mobile-height: 4rem;

$navbar-max-width: 1400px;

.navBar {
  @include flex-horizontal;
  height: $navbar-height;
  padding: 0 $site-padding;
  justify-content: space-between;
  width: $navbar-max-width;
  max-width: 90vw;

  @include mobile() {
    height: $navbar-mobile-height;
    justify-content: space-between;
    max-width: 100vw;
  }

  .appLogo {
    @include flex-horizontal;
    img {
      height: 3rem;
    }
  }
  
  .navbarLinks {
    display: flex;
    align-items: center;
    min-width: 23%;

    .links {
      @include flex-horizontal;
      justify-content: space-between;
      min-width: 9rem;
      margin-right: calc(2rem + 1vw);
      
      @include mobile() {
        display: none;
      }
    }

    .link {
      font-size: 0.9rem;
      color: $dark-blue;
      font-weight: 500;
      cursor: pointer;

      &.noClick {
        cursor: default;
      }

      &:hover {
        font-weight: 700;
      }
    }

    .iconLink {
      @include flex-horizontal;

      .icon {
        font-size: 1.3rem;
        margin-left: 0.5rem;
      }
    }
    .signInButton {
      min-width: 7rem;
      background-color: transparent;
      border: 1px solid $indigo-blue;
      color: $indigo-blue;

      &:hover {
        background-color: $indigo-blue;
        color: $light-blue;
      }
    }
  }
}
