@import 'styles/_variables';
@import 'styles/_mixins';
$navbar-link-margin: calc(1rem + 2vw);
$navbar-height: 4rem;
$navbar-mobile-height: 4rem;

.navBar {
  @include flex-horizontal;
  height: $navbar-height;
  width: 100%;
  max-width: $header-max-width;
  justify-content: space-between;

  @include mobile() {
    height: $navbar-mobile-height;
    justify-content: space-between;
  }

  .appLogo {
    @include flex-horizontal;
    img {
      height: 3rem;
    }
    .mobile {
      display: none;
    }

    @include mobile() {
      .desktop {
        display: none;
      }

      .mobile {
        display: flex;
      }
    }
  }

  .navbarLinks {
    display: flex;
    align-items: center;

    .links {
      @include flex-horizontal;
      justify-content: space-between;
    }

    .link {
      @extend .body-1;
      color: $secondary;
      cursor: pointer;
      margin-right: $navbar-link-margin;

      &:hover {
        color: $primary;
      }
    }

    .iconLink {
      @include flex-horizontal;

      .icon {
        font-size: 1.3rem;
        margin-left: 0.5rem;
      }
    }
    .signInButton {
      min-width: 7.5rem;
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;

      @include mobile() {
        display: none;
      }

      &:hover {
        background-color: $primary;
        color: $neutral-light;
      }
    }
  }
}
