// Breakpoints
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;

@mixin mobile {
  @media (max-width: $tablet - 0.1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: $desktop - 0.1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) and (max-width: $widescreen - 0.1px) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: $widescreen) {
    @content;
  }
}
