%icon-alignment {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

%icon {
  @extend %icon-alignment;
  line-height: 1.25rem;
  font-size: 1.25rem;
  width: 20px;
  height: 20px;
}

%icon-large {
  @extend %icon-alignment;
  line-height: 1.5rem;
  font-size: 1.5rem;
  width: 24px;
  height: 24px;
}

@mixin spinner {
  position: absolute;
  width: 3rem;
  font-size: 3rem;
  margin-top: 4rem;
  left: calc(50vw - 1.5rem);
}
