@mixin icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@mixin spinner {
  position: absolute;
  width: 3rem;
  font-size: 3rem;
  margin-top: 4rem;
  left: calc(50vw - 1.5rem);
}
