// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$font-stack: 'Noto Sans JP', sans-serif;
$monospace-font-stack: 'Roboto Mono', monospace;

// Typography
%display-1 {
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 300;
  letter-spacing: -1.5px;
}
%display-2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
}
%heading-1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 0.25px;
}

%heading-2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0px;
}

%heading-3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0px;
}

%heading-4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: 0px;
}

%subtitle-1 {
  font-size: 1.15rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0px;
}

%body-1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}

%body-2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}

%button-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0px;
}

%caption {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
}

%overline {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h1 {
  @extend %heading-1;
  margin-top: 0;
}

h2 {
  @extend %heading-2;
  margin-top: $spacing-1;
  margin-bottom: $spacing-3;
}

h3 {
  @extend %heading-3;
  margin-bottom: $spacing-3;
}

h4 {
  @extend %heading-4;
  margin-bottom: $spacing-1;
}
