@import 'styles/_variables';
@import 'styles/_mixins';
$demo-bar-height: $height-2;
.demoBar {
  position: sticky;
  z-index: 10;
  display: flex;
  flex-direction: row;
  height: $demo-bar-height;

  .menuContainer {
    @extend %body-2;
    position: sticky;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $green-100;
    color: $green-900;
    height: auto;
    width: 100%;
    padding: 0.5rem 1rem;
    overflow: hidden;

    @include mobile() {
      width: 100%;
      margin-left: -100vw;
    }
    &.show {
      margin-left: 0;
    }

    .message {
      width: 100%;
      text-align: center;

      .text {
        height: auto;
        display: inline;
        justify-content: space-between;
        align-items: center;
        .bold {
          font-weight: bold;
        }
      }
      .action {
        @extend %body-2;
        height: auto;
        color: $blue-500;
        text-decoration: underline;
      }
    }
  }
}
