@import 'styles/_variables';
@import 'styles/_mixins';

$nav-item-height: 88px;

.sideNav {
  width: $side-nav-width;
  min-width: $side-nav-width;
  border-right: 1px solid $primary;
  min-height: calc(100vh - 4rem - 5rem);

  @include mobile() {
    display: none;
  }
}

.sideNavDropdown {
  width: 100%;
  display: none;

  @include mobile() {
    display: block;
  }
}

.navItem {
  @include flex-horizontal;
  @extend %body-1;

  justify-content: space-between;
  color: $secondary;
  padding: 0 2.5rem 0 4rem;
  user-select: none;
  height: $nav-item-height;
  cursor: pointer;

  &.active {
    $border-left: 0.5rem;
    border-left: $border-left solid $primary;
    background-color: $neutral-light;
    padding-left: calc(4rem - #{$border-left});
  }

  &:hover {
    background: $neutral-light;
  }

  span {
    @include flex-horizontal;
    align-items: center;

    .icon {
      margin-right: 0.7rem;
      color: $primary;
    }
  }
}

.icon {
  @include icon;
}
