@import 'styles/_variables';
@import 'styles/_mixins';

.confirm {
  @include flex-vertical;
  align-items: center;
}

.modalImg {
  display: flex;
  width: 16rem;
  margin-bottom: 2rem;
}

.icon {
  @include icon;
  font-size: 1.25rem;

  &.send {
    transform: rotateZ(52deg);
  }
}

.button {
  @include button($light-green);

  .icon {
    margin-left: 0.2rem;
  }
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.125rem;
}

.subtitle {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3.125rem;
}