@import 'styles/_variables';
@import 'styles/_mixins';

.textButton {
  @include button(transparent, transparent, transparent);
  color: $primary;
  display: inline-block;
  padding: 0;
  border-radius: 0;

  &:hover {
    color: $secondary;
  }

  &.noMinWidth {
    min-width: unset;
    text-align: left;
  }

  &.underline {
    &:hover {
      text-decoration: underline;
    }
  }
}
