@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;

.content {
  margin-left: calc(78px - (#{$modal-width} - 528px) / 2);
  margin-right: calc(78px - (#{$modal-width} - 528px) / 2);
}
.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-vertical;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  .channelContainer {
    @include flex-horizontal;
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    height: 1.5rem;

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .button {
      @include flex-horizontal;
      @extend %heading-3;
      justify-content: space-between;
      height: 4.5rem;
      border: 1px solid $primary;
      &.active {
        color: $white;
        background-color: $primary;
      }
      &:not(.active):disabled {
        background-color: transparent;
        border: 1px solid $grey-500;
        color: $grey-500;
      }
    }

    .subtext {
      @include mobile() {
        margin-bottom: 1rem;
      }
    }
    .protectedOption {
      &.disabled,
      .disabled {
        cursor: not-allowed;
        color: $grey-500;
      }
      i {
        font-size: 1.3rem;
        margin-top: 0.1rem;
      }
      .subtext {
        user-select: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    input[type='radio']:checked:after {
      width: 4px;
      height: 4px;
      border-radius: 15px;
      top: -4.5px;
      left: 2px;
      position: relative;
      background-color: $blue-500;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2.5px solid $blue-500;
    }
  }
}

.input {
  background-color: $neutral-light;
}

.icon {
  @extend %icon;
  font-size: 20px;
}

.title {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.subtext {
  font-size: 0.85rem;
  margin-bottom: 0;
  margin-left: 16px;
  color: $grey-500;
}

.infotext {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-left: 12px;
  color: $grey-700;
  .link {
    font-size: 0.8rem;
    font-style: italic;
    color: $secondary;
    line-height: 1.5rem;
    text-decoration: underline;
    margin-left: 0.2rem;
    cursor: pointer;
  }
}
