@import 'styles/_mixins';

a {
  outline: none;
  text-decoration-line: none;
}

.landingFooter {
  display: block;
  color: $grey-900;
  .footerSection {
    align-items: normal;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 44px;
    padding-top: 44px;

    .footerTagline {
      align-items: baseline;
      display: flex;
      padding-bottom: 32px;
      .taglineName {
        margin: 0;
        font-size: 1.3rem;
        line-height: 0.37;
        font-weight: bold;
        height: 0.8rem;
        color: $grey-900;
      }

      .taglineCaption {
        margin-left: 0.5rem;
        font-size: 14px;
        font-style: italic;
      }
    }

    .footerLinks {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      a {
        display: block;
        margin-bottom: 1rem;
        margin-right: 0;
        color: #484848;
      }
      a:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
      a:hover,
      a:focus,
      a:active {
        color: #2f60ce;
        opacity: 1;
        text-decoration-line: none;
      }
    }

    .footerLogo {
      display: inline-flex;
      flex-direction: column;
      .builtby {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        margin-bottom: 6px;
      }

      .logo {
        height: 48px;
        width: 183px;
      }
    }

    .footerSocials {
      align-items: flex-start;
      color: rgba(0, 0, 0, 0.5);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      height: 72px;
      justify-content: space-between;
      margin-top: 24px;
      padding-top: 4px;
      .footerSocialsLinks {
        display: flex;
        a {
          margin-left: 8px;
          margin-right: 8px;
          font-size: 32px;
          color: #686868;
          display: flex;
        }

        a:first-child {
          margin-left: 0;
          margin-right: 8px;
        }

        a:last-child {
          margin-left: 8px;
          margin-right: 0;
        }
      }
    }
    .footerCopyright {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      margin-top: 16px;
      color: $grey-900;
    }
  }
  .footerSectionBottomBorder {
    border-bottom: 2px solid;
    border-color: #dcdcdc;
  }
}

@media screen and (min-width: 30em) {
  .landingFooter {
    .footerSection {
      .footerLinks {
        a {
          margin-bottom: 1rem;
        }
        a:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .landingFooter {
    .footerSection {
      margin-left: 64px;
      margin-right: 64px;
      .footerCopyright {
        flex-direction: row;
      }
    }
  }
}

@media screen and (min-width: 62em) {
  .landingFooter {
    .footerSection {
      margin-left: 80px;
      margin-right: 80px;
      padding-top: 40px;
      padding-bottom: 40px;
      flex-direction: row;
      .footerLinks {
        flex-direction: row;
        align-items: center;
        a {
          margin-bottom: 0;
          margin-right: 2rem;
        }

        a:last-child {
          margin-bottom: 0;
          margin-right: 0;
        }
      }

      .footerTagline {
        padding-bottom: 0;
      }

      .footerSocials {
        align-items: flex-end;
        margin-top: 0;
      }
    }
  }
}
