@import "styles/_variables";
@import "styles/_mixins";

$navbar-link-margin: calc(1rem + 1vw);

.navBar {
  @include flex-horizontal;
  height: $nav-bar-height;
  background-color: $dark-blue;
  padding: 0 $site-padding;
  justify-content: space-between;

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 2rem;
    color: $light-blue;
  }

  .link {
    letter-spacing: 1.3px;
    opacity: 0.5;
    color: $light-blue;

    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
  }

  .left,
  .right {
    @include flex-horizontal;
  }

  .left .link,
  .left .title {
    margin-right: $navbar-link-margin;
  }
  .right .link {
    margin-left: $navbar-link-margin;
  }
}
