@import 'styles/_variables';
@import 'styles/_mixins';
@import '~sass-burger';

$navbar-link-margin: calc(1rem + 1vw);
$navbar-height: 4rem;
$navbar-mobile-height: 4rem;

.navBar {
  @include flex-horizontal;
  height: $navbar-height;
  background-color: $dark-blue;
  z-index: 100;
  padding: 0 $site-padding;

  @include mobile() {
    height: auto;
    flex-direction: column;
    padding: 0;
  }

  .navBrand {
    @include flex-horizontal;
    justify-content: flex-start;

    @include mobile() {
      justify-content: space-between;
      padding: 0 $mobile-site-padding;
      width: 100%;
    }

    .appLogo {
      margin-right: 2rem;
      @include flex-horizontal;

      img {
        height: 2rem;
      }
    }

    .burgerButton {
      display: none;
      @include mobile() {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $navbar-mobile-height;
        width: $navbar-mobile-height;
        cursor: pointer;
      }

      .burger {
        @include burger(25px, 3px, 5px, $light-blue);
        &.isActive {
          @include burger-to-cross;
        }
      }
    }
  }

  .navbarLinks {
    display: flex;
    flex: 1;

    @include mobile() {
      display: none;

      &.isActive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: $dark-blue;
        border-width: $site-padding  $mobile-site-padding;
        border-style: solid;
        border-color: $dark-blue;
      }
    }

    .link {
      opacity: 0.5;
      font-size: 0.9rem;
      color: $light-blue;
      margin-right: $navbar-link-margin;
      font-weight: 500;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      @include mobile() {
        padding: 0.8rem 0;
        width: 100%;
      }

      &.noClick {
        cursor: default;
      }

      &:hover,
      &:active,
      &.active {
        opacity: 1;
      }
    }

    .iconLink {
      @include flex-horizontal;

      .icon {
        font-size: 1.3rem;
        margin-left: 0.5rem;
      }
    }

    .right {
      font-weight: normal;
    }

    .separator {
      flex: 1;
    }
  }
}
