@import "styles/_variables";

.textAreaContainer {
  margin: 2rem 0;
  width: 100%;
  position: relative;

  .textArea {
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    padding: $border-radius;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 150%;
    resize: none;
    background: transparent;

    &:focus {
      outline: none;
      border-color: $indigo-blue;
    }
  }

  .highlightBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    pointer-events: none;
    font-size: 1rem;
    line-height: 150%;
    padding: $border-radius;
    color: transparent;
    z-index: -1;

    mark {
      background-color: rgba(255, 194, 204, 0.5);
      border-radius: 4px;
      padding-bottom: 2px;
    }
  }
}
