@import 'styles/_variables';

.textAreaContainer {
  width: 100%;
  position: relative;

  .textArea {
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    padding: $border-radius;
    color: $secondary;
    font-size: 1rem;
    line-height: 150%;
    resize: none;
    background: transparent;
    overflow: hidden; // hides scroll bar on IE and firefox

    &.single {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: $primary;
    }

    &:hover {
      border-width: 1.5px;
    }

    &:focus {
      border-width: 1px;
    }

    &::placeholder {
      color: $neutral;
    }
  }

  .highlightBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: transparent;
    pointer-events: none;
    z-index: -1;
    white-space: pre-wrap;
    p {
      color: transparent;
      font-size: 1rem;
      margin: 0; // fix for ie: highlight appearing lower than text
    }
  }
}
