@import "styles/_variables";

.textInput {
  height: $button-height;
  border: 1px solid $indigo-blue;
  border-radius: $border-radius;
  box-shadow: none;
  line-height: 1rem;
  font-size: 1rem;
  padding-left: $border-radius;

  &:focus {
    outline: none;
  }
}
