@import 'styles/_variables';

.textInput {
  height: $button-height;
  border: 1px solid $light-grey;
  border-radius: $border-radius;
  box-shadow: none;
  line-height: 1rem;
  font-size: 1rem;
  padding-left: $border-radius;
  color: $secondary;
  width: 100%;
  background: transparent;

  &:focus,
  &:hover {
    outline: none;
    border-color: $primary;
  }

  &:hover {
    border-width: 1.5px;
  }

  &:focus {
    border-width: 1px;
  }

  &::placeholder {
    color: $neutral;
  }
}
