@import 'styles/_variables';

.textInput {
  height: $button-height;
  border: 1px solid $light-grey;
  border-radius: $border-radius;
  box-shadow: none;
  line-height: 1rem;
  font-size: 1rem;
  padding-left: $border-radius;
  color: $dark-blue;
  width: 100%;
  background: transparent;

  &:focus {
    outline: none;
    border-color: $indigo-blue;
  }
}
