@import 'styles/_variables';

.label {
  @extend .body-1;
  margin-bottom: $spacing-3;
  margin-top: $spacing-5;

  label {
    margin-right: $spacing-1;
  }
}

.link {
  font-size: 1rem;

  &:visited {
    color: $secondary;
  }
}
