@import 'styles/_variables';
@import 'styles/_mixins';

.buttonGroup {
  @include flex-horizontal;
  flex-direction: row-reverse;
  margin-top: $layout-4;

  div,
  button {
    // Collapse any pre-existing top margin
    margin-top: 0px;
    margin-left: $spacing-7;
  }

  div:last-child,
  button:last-child {
    margin-left: 0px;
  }
}
