@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  @include flex-vertical;
  padding: $content-top-padding 0 $content-bottom-padding;
  margin: 0 auto;
  width: 1000px;
  max-width: calc(100vw - (2 * #{$site-padding}));
}

.header {
  margin-bottom: 2rem;
}

table {
  width: 100%;

  tbody tr {
    &:hover {
      cursor: pointer;
      background-color: $transparent-blue;
    }

    &:active {
      opacity: 0.5;
    }
  }

  tr {
    @include flex-horizontal;
    border-bottom: 1px solid $transparent-blue;

    td,
    th {
      padding: 0.75rem 0;

      &.xs {
        flex: 1.2;
        text-align: center;
      }

      &.sm {
        flex: 2;
      }

      &.md {
        flex: 3;
      }

      &.lg {
        flex: 4;
      }
    }
  }
}

.icon {
  @include icon;
}

.spinner {
  width: 3rem;
  font-size: 3rem;
  align-self: center;
  margin: 2rem;
}

.emptyDashboard {
  text-align: center;

  .image {
    width: 400px;
  }

  h2 { font-weight: 500; }
  h5 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .darkBlueButton {
    @include button($dark-blue);
  }
}
