@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  @include flex-vertical;
  padding: $content-top-padding $site-padding $content-bottom-padding;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;

  @include mobile() {
    padding: $content-top-padding $mobile-site-padding $content-bottom-padding;
  }
}

.header {
  margin-bottom: 2rem;
}

.tableContainer {
  display: block;
  max-width: 100%;

  table.campaignTable {
    min-width: calc(
      #{$tablet} - #{$mobile-site-padding} - #{$mobile-site-padding}
    );
    width: 100%;

    tbody tr {
      &:hover {
        cursor: pointer;
        background-color: $transparent-blue;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.icon {
  @include icon;
}

.spinner {
  @include spinner;
}

.emptyDashboard {
  text-align: center;

  .image {
    width: 350px;
  }

  h2 {
    font-weight: 500;
  }
  h5 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .darkBlueButton {
    @include button($dark-blue);
  }
}
