@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  height: calc(100% - #{$nav-bar-height} - #{$title-bar-height});
  @include flex-vertical;
  flex-grow: 1;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  
  @include desktop() {
    max-width: 900px;
  }

  @include widescreen() {
    max-width: 900px;
  }
}

.icon {
  @include icon;
  font-size: 1.25rem;
}

.row {
  @include flex-horizontal;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.title {
  font-size: 24px;
  margin-bottom: 35px;
  font-weight: 500;
}

.table > div {
  border-bottom: 1px solid $transparent-blue;
}

.header > p {
  font-size: 0.75em;
}

.body > p {
  font-size: 0.875em;
  font-weight: 500;
}