@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  @include flex-vertical;
  padding: $content-top-padding $site-padding $content-bottom-padding;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;

  @include mobile() {
    padding: $content-top-padding $mobile-site-padding $content-bottom-padding;
  }
}

.header {
  margin-bottom: 2rem;
}

.tableContainer {
  display: block;
  max-width: 100%;
  overflow: auto;

  table.campaignTable {
    min-width: calc(
      #{$tablet} - #{$mobile-site-padding} - #{$mobile-site-padding}
    );
    width: 100%;

    thead tr {
      th {
        @extend %caption;
        text-transform: capitalize;
      }
    }

    tbody tr {
      &:hover {
        cursor: pointer;
        background-color: $neutral-light;
      }

      &:active {
        opacity: 0.5;
      }

      td {
        @extend %body-2;
      }
    }
  }
}

.iconContainer {
  position: relative;
}

.trial {
  color: $red;
}

.icon {
  @include icon;
}

.lockIcon {
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  bottom: 0.2rem;
  right: -0.5rem;
  color: $blue-300;
}

.spinner {
  @include spinner;
}

.emptyDashboard {
  text-align: center;

  .image {
    width: 350px;
  }

  h2 {
    font-weight: 500;
  }
  h5 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .darkBlueButton {
    @extend %secondary-btn;
  }
}
