@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  @include flex-vertical;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: $spacing-3;
}

.helpText {
  @extend %body-1;
  margin-top: $spacing-5;
  a {
    font-size: inherit;
    font-weight: 500;
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
}
.options {
  @include flex-horizontal;
  margin-top: $spacing-4;

  & > .option:not(:first-child) {
    margin-left: $spacing-7;
  }

  @include mobile() {
    @include flex-vertical;
    align-items: center;

    & > .option:not(:first-child) {
      margin-left: 0;
      margin-top: $spacing-1;
    }
  }
}
