@import 'styles/_mixins';

.container {
  padding: 1rem 0;

  .centerAlign {
    text-align: center;
  }

  .padTop {
    margin-top: 1rem;
  }

  img {
    height: 30vh;
    max-height: 200px;
    margin: 5vh auto;
    display: block;
  }
}

.channelTypes {
  @include flex-horizontal;
  justify-content: space-between;
  margin-top: 3.1rem;

  @include mobile() {
    @include flex-vertical;
  }

  button {
    @include flex-horizontal;
    flex: 1;
    justify-content: space-between;
    height: 4.5rem;
    border: 1px solid $indigo-blue;
    font-size: 1.3rem;
    margin-right: 1.5rem;

    &:not(.active) {
      color: $indigo-blue;
      background: $light-blue;

      &:hover {
        background: $indigo-blue;
        color: white;
      }
    }

    @include mobile() {
      flex: unset;
      margin-bottom: 1rem;
    }
  }
}

.loading {
  text-align: center;
  font-size: 3rem;
}
