@import 'styles/_variables';
@import 'styles/_mixins';

.bar {
  background-color: $light-blue;
  border-radius: $border-radius;
  height: 10px;
}

.progress {
  background-color: $indigo-blue;
  border-radius: $border-radius;
  height: 100%;
  transition: all 1s;
}