@import 'styles/_variables';
@import 'styles/_mixins';

.bar {
  background-color: $neutral-light;
  border-radius: $border-radius;
  height: 10px;
}

.progress {
  background-color: $primary;
  border-radius: $border-radius;
  height: 100%;
  transition: all 1s;
  &.complete {
    background-color: $success;
  }
}
