@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;
$title-height: $height-4;
.modalBg {
  @include flex-center();
  background: adjust-color($secondary, $alpha: -0.05);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  top: 0;
  left: 0;
}

.modal {
  width: $modal-width;
  max-width: 100vw;
  border-radius: 0.6rem;
  background-color: $neutral-light;
  height: auto;
  max-height: calc(70vh);
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  @include mobile {
    border-radius: 0;
    min-height: 100vh;
  }

  @include scrollbar($neutral-light, $neutral);
}

.modalImg {
  max-height: calc(50vh);
}

.content {
  max-width: 100vw;
  padding: 3rem ($modal-width - 528px) / 2;
  margin: auto;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  &.modalTitleClose {
    color: $green-900;
    top: calc(#{$title-height} / 2 - 1.5rem); // close button has height of 3rem
  }
}

.modalTitle {
  @extend %heading-3;
  @include flex-center;
  background: $green-100;
  color: $green-900;
  min-height: $title-height;
  text-align: center;
  @include mobile {
    padding-right: 3rem;
  }
}
