@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;
$title-height: $height-4;
.modalBg {
  @include flex-center();
  background: adjust-color($secondary, $alpha: -0.05);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  top: 0;
  left: 0;
}

.modal {
  max-width: 100vw;
  border-radius: 0.6rem;
  background-color: $neutral-light;
  height: auto;
  max-height: calc(70vh);
  position: relative;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  @include mobile {
    border-radius: 0;
    min-height: 100vh;
    padding: 0px;
  }
}

.title {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.modalMedia {
  max-height: 250px;
  max-width: 100%;

  @include mobile() {
    max-height: 20vh;
  }
}

.content {
  max-width: 100vw;
  margin: 25px 0px;
  text-align: center;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  &.modalTitleClose {
    color: $green-900;
    top: calc(#{$title-height} / 2 - 1.5rem); // close button has height of 3rem
  }
}

.options {
  @include mobile {
    padding-bottom: 25px;
  }
}
