@import 'styles/_variables';

.modal {
  max-width: 100vw;
  border-radius: 0.6rem;
  background-color: $neutral-light;
  height: auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  @include mobile {
    border-radius: 0;
    min-height: 100vh;
    padding: 0px;
  }
}
