@import 'styles/_mixins';

.graphic {
  max-height: 250px;

  @include mobile() {
    max-height: 20vh;
  }
}

.title {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0px;
}

.subtext {
  margin-top: 32px;
  text-align: center;
}

.options {
  margin-top: 48px;
}
