@import 'styles/_variables';
@import 'styles/_mixins';

.activeButtonContainer {
  position: relative;
}

.actionButton {
  @extend %outline-btn;

  &.dropdown {
    justify-content: space-between;
  }

  &:disabled {
    border: 1px solid $light-grey;
    background-color: white;

    i,
    span {
      color: $light-grey;
    }
  }

  .content {
    width: 100%;
    white-space: nowrap;

    div {
      @include flex-center;

      i {
        margin-right: 0;
      }
    }
  }
}

.arrow {
  @include flex-center;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  min-width: calc($button-min-width / 4);
  height: $button-height;
  background-color: $primary;

  .icon {
    @extend %icon;
    color: white;
    margin-left: 0;
  }
}

.dropdownMenu {
  position: absolute;
  width: 14rem;
  background: white;
  top: $button-height + 1rem;
  right: 0;
  box-shadow: 0.1rem 0.1rem 1rem 0 lighten($light-grey, 20%);
  color: $primary;

  > div {
    @include flex-horizontal;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
      background: $neutral-light;
    }

    i {
      @extend %icon;
      font-size: 1.2rem;
      margin-top: 0.1rem;
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }
}
