@import 'styles/_variables';
@import 'styles/_mixins';

.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-horizontal;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  div {
    @include flex-vertical;
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .button {
      @include flex-horizontal;
      justify-content: space-between;
      height: 4.5rem;
      border: 1px solid $indigo-blue;
      font-size: 1.3rem;

      &:not(.active) {
        color: $indigo-blue;
        background: $light-blue;

        &:hover {
          background: $indigo-blue;
          color: white;
        }
      }
    }

    .subtext {
      @include mobile() {
        margin-bottom: 1rem;
      }
    }
  }
}

.input {
  background-color: $light-blue;
}

.icon {
  @include icon;
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.subtext {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0;

  a {
    font-size: 0.75rem;
    font-style: italic;
    color: $dark-blue;
    text-decoration: underline;
  }
}
