@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;

.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-horizontal;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  .channelContainer {
    @include flex-vertical;
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .button {
      @include flex-horizontal;
      @extend %heading-3;
      justify-content: space-between;
      height: 4.5rem;
      border: 1px solid $primary;

      .icon {
        @extend %icon-large;
      }

      &:not(.active) {
        color: $primary;
        background: $neutral-light;

        &:hover {
          background: $primary;
          color: white;
        }
      }
    }

    .subtext {
      @include mobile() {
        margin-bottom: 1rem;
      }
    }
    .protectedOption {
      i {
        font-size: 1.3rem;
        margin-top: 0.1rem;
      }
      .subtext {
        user-select: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.input {
  background-color: $neutral-light;
}

.icon {
  @extend %icon;
}

.title {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.subtext {
  height: 1.5rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0;

  .link {
    font-size: 0.8rem;
    font-style: italic;
    color: $secondary;
    line-height: 1.5rem;
    text-decoration: underline;
    margin-left: 0.2rem;
    cursor: pointer;
  }
}
