@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;

.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-vertical;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  .channelContainer {
    @include flex-horizontal;
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    height: 1.5rem;

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .button {
      @include flex-horizontal;
      @extend %heading-3;
      justify-content: space-between;
      height: 4.5rem;
      border: 1px solid $primary;
      cursor: default;

      .icon {
        @extend %icon-large;
      }

      &.active:hover {
        background: $primary;
      }

      &:not(.active) {
        color: $primary;
        background: transparent;

        &:hover {
          background: rgba($primary-light, 0.5);
          border-width: 1.5px;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .protectedOption {
      i {
        font-size: 1.3rem;
        margin-top: 0.1rem;
      }
      .subtext {
        user-select: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.input {
  background-color: $neutral-light;
}

.icon {
  @extend %icon;
}

.title {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.subtext {
  font-size: 0.85rem;
  margin-bottom: 0;
  margin-left: 16px;
}

.infotext {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-left: 12px;
  color: $grey-700;
  .link {
    font-size: 0.8rem;
    font-style: italic;
    color: $secondary;
    line-height: 1.5rem;
    text-decoration: underline;
    margin-left: 0.2rem;
    cursor: pointer;
  }
}
