@import 'styles/_variables';
@import 'styles/_mixins';

.section {
  margin-bottom: 2rem;
  @include flex-vertical;
}

.channelTypes {
  @include flex-horizontal;
  justify-content: space-between;

  @include mobile() {
    @include flex-vertical;
  }

  .button {
    @include flex-horizontal;
    justify-content: space-between;
    flex: 1;
    height: 4.5rem;
    border: 1px solid $indigo-blue;
    font-size: 1.3rem;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    &:not(.active) {
      color: $indigo-blue;
      background: $light-blue;

      &:hover {
        background: $indigo-blue;
        color: white;
      }
    }

    @include mobile() {
      margin-right: 0;
      margin-bottom: 1rem;
      padding: 1rem 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.input {
  background-color: $light-blue;
}

.icon {
  @include icon;
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.65rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.subtext {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0;

  a {
    font-size: 0.75rem;
    font-style: italic;
    color: $dark-blue;
    text-decoration: underline;
  }
}
