@import 'styles/_variables';
@import 'styles/_mixins';

.title {
  margin: 1rem 0;
  cursor: pointer;
}

.icon {
  @include icon;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-out;
}

.rotateArrow {
  transform: rotateZ(180deg);
}

.link {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  font-size: 0.9rem;
}

.input {
  margin-top: 1rem;
}
