@import 'styles/_variables';
@import 'styles/_mixins';

.topContainer {
  background-color: $light-blue;
  height: 100vh;
  @include flex-center;

  .innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 80vw;

    @include mobile() {
      justify-content: center;
    }

    .appLogo {
      margin-bottom: 2rem;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
  }
}
