@import 'styles/_variables';
@import 'styles/_mixins';

.rootContainer {
  @include flex-center;
  flex-direction: column;
  background-color: $neutral-light;
  height: 100vh;

  @include mobile() {
    justify-content: center;
  }

  .heroImg {
    width: 100%;
    max-width: 480px;
  }

  .title {
    margin: $spacing-7 0 0 0;
  }

  .description {
    margin: $spacing-3 0 0 0;
    text-align: center;
  }

  .actions {
    margin-top: $spacing-5;

    & > .action:not(:first-child) {
      margin-left: $spacing-7;
    }

    @include mobile() {
      @include flex-vertical;
      align-items: center;
      width: 100%;

      & > .action:not(:first-child) {
        margin-left: 0;
        margin-top: $spacing-1;
      }
    }
  }
}
