@import 'styles/_variables';
@import 'styles/_mixins';

.credHeader {
  @include flex-horizontal();
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.blueButton {
  @include button($dark-blue);
}

table.credTable {
  width: 100%;

  .actionColumn {
    text-align: right;
  }

  .icon {
    @include icon;

    &.deleteButton {
      cursor: pointer;
      &:hover {
        color: $red;
      }
    }
  }
}

.emptyCredentials {
  margin-top: 2rem;
  text-align: center;
  img {
    width: 250px;
    max-width: 40vw;
  }
}
