@import 'styles/_variables';
@import 'styles/_mixins';

.credHeader {
  @include flex-horizontal();
  justify-content: space-between;
  margin-bottom: $layout-4;
}

.blueButton {
  @extend %secondary-btn;
}

table.credTable {
  width: 100%;

  .actionColumn {
    display: flex;
    justify-content: center;
  }

  .icon {
    @extend %icon;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0rem;
    }

    &.deleteButton {
      cursor: pointer;
      &:hover {
        color: $error;
      }
    }

    &.verifyButton {
      cursor: pointer;
      &:hover {
        color: $light-grey;
      }
    }
  }
}

.emptyCredentials {
  margin-top: 2rem;
  text-align: center;
  img {
    width: 250px;
    max-width: 40vw;
  }
}
