@import 'styles/_variables';
@import 'styles/_mixins';

.content {
  @include flex-vertical;
  padding: $content-top-padding $site-padding $content-bottom-padding;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;

  @include mobile() {
    padding: $content-top-padding $mobile-site-padding $content-bottom-padding;
  }
}

.settingsContainer {
  display: flex;
  flex: 1;
  position: relative;

  @include mobile() {
    padding: $content-top-padding $mobile-site-padding $content-bottom-padding;
    flex-direction: column;
    align-items: center;
  }
}

.spinner {
  @include spinner;
}

.emptySettings {
  text-align: center;

  .image {
    width: 350px;
  }

  h2 {
    font-weight: 500;
  }
  h5 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .darkBlueButton {
    @extend %secondary-btn;
  }
}

.emptyActions {
  @include flex-horizontal;
  margin-top: 4rem;

  @include mobile() {
    @include flex-vertical;
  }

  button {
    @extend %outline-btn;
    @include flex-horizontal;

    flex: 1;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
    height: 4.6rem;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }

    @include mobile() {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}

.detailsContainer {
  width: 100%;
  max-width: $content-max-width;
  margin: 4rem auto;

  @include mobile() {
    margin: 0 auto;
  }
}
