@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outer {
  @include flex-center();
  background-color: $neutral-light;
  width: 100vw;
  flex: 1;
  overflow: auto;
}

.inner {
  width: 800px;
  margin: $layout-3 0;

  &.forPwPrompt {
    border-radius: $border-radius;
    box-shadow: 0.2rem 0.2rem 1rem 0 lighten($light-grey, 20%);
    background-color: white;
  }

  @include mobile() {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}

.verification {
  @include flex-center();
  flex-direction: column;
  margin: $layout-5 0;

  .appLogo {
    width: 200px;
  }

  .landingHero {
    margin: $layout-4 0;
    width: 236px;
  }

  .title {
    margin: 0;
    margin-bottom: $spacing-5;
  }

  .passwordInput {
    width: 475px;

    @include mobile() {
      max-width: 70%;
    }
  }
}

.reminderText {
  font-weight: 700;
  color: #535353;
}

.footer {
  @include flex-horizontal;
  @extend %body-2;
  color: $neutral;
  justify-content: center;
  width: 100%;
  padding: $layout-5 0 $spacing-6 0;

  .caption {
    margin-right: $spacing-3;
  }
}
