@import 'styles/_variables';
@import 'styles/_mixins';
$green-300: #b3d8dd;
.infoBanner {
  background-color: $green-300;
  color: darken($green-300, 50%);
  padding: 8px 0px;
  text-align: center;
  font-size: 0.9rem;
}
