@import 'styles/_variables';
@import 'styles/_mixins';
$pale-green: #b3d8dd;
.infoBanner {
  background-color: $pale-green;
  color: darken($pale-green, 50%);
  padding: 8px 0px;
  text-align: center;
  font-size: 0.9rem;
}
