@import 'styles/_variables';
@import 'styles/_mixins';
.container {
  background-color: $indigo-blue;
  height: auto;
  padding: 4px $site-padding;
  color: white;

  @include mobile() {
    padding: 4px $mobile-site-padding;
  }

  .infoText {
    @include flex-horizontal;
    justify-content: center;
    font-size: 0.8rem;
  }
}
