@import 'styles/_variables';
@import 'styles/_mixins';

.titleBar {
  @include flex-horizontal;
  height: $title-bar-height;
  color: $secondary;
  border-bottom: 1px solid $primary;
  padding: 0 $site-padding;
  justify-content: space-between;

  @include mobile() {
    padding: 0 $mobile-site-padding;
  }
}

.titleText {
  flex: 1;
  color: $secondary;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: $spacing-3;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
