@import 'styles/_variables';
@import 'styles/_mixins';

.titleBar {
  height: $title-bar-height;
  color: $dark-blue;
  font-size: 32px;
  border-bottom: 1px solid $indigo-blue;
  @include flex-horizontal;
  padding-left: 70px;
}