@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  input {
    display: none;
    &:disabled + label {
      background-color: $light-grey;
      cursor: not-allowed;
    }
  }

  label {
    @extend %secondary-btn;
  }
}
