@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.progressPane {
  width: 400px;
  border-right: 1px solid $indigo-blue;
  height: 100%;
}

.progressItem {
  height: 90px;
  padding-left: 70px;
  @include flex-horizontal;

  &.active {
    border-left: 8px solid $indigo-blue;
    background-color: $light-blue;
    padding-left: calc(70px - 8px);
  }
}

.number {
  height: 35px;
  width: 35px;
  background-color: $indigo-blue;
  border-radius: 18px;
  margin-right: 10px;
  color: $light-blue;
  @include flex-horizontal;
  justify-content: center;
}

.title {
  color: $dark-blue;
  font-size: 18px;
}