@import 'styles/_variables';
@import 'styles/_mixins';

$progress-item-height: 5rem;

// This max-width is not based on standard device width
@mixin sm-mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.progressPane {
  width: $progress-pane-width;
  min-width: $progress-pane-width;
  border-right: 1px solid $indigo-blue;
  min-height: calc(100vh - #{$navbar-height} - #{$title-bar-height});

  @include mobile() {
    display: flex;
    width: 100%;
    min-width: unset;
    flex-direction: row;
    border-right: none;
    padding: 0 3vw;
    margin-top: 2vh;
    min-height: 0;
  }
}

.progressItem {
  @include flex-horizontal;
  font-size: 1rem;
  opacity: 0.2;
  padding: 0 4rem;
  user-select: none;
  height: $progress-item-height;
  cursor: default;

  @include mobile() {
    width: 25%;
    padding: 0 3vw;
    justify-content: center;
    align-items: center;
  }

  @include sm-mobile() {
    width: 20%;
  }

  &.active {
    $border-left: 0.5rem;
    border-left: $border-left solid $indigo-blue;
    background-color: $light-blue;
    padding-left: calc(4rem - #{$border-left});

    @include mobile() {
      padding-left: 3vw;
      height: calc(#{$progress-item-height} + #{$border-left});
      border-left: none;
      border-bottom: $border-left solid $indigo-blue;
      background-color: transparent;
    }

    @include sm-mobile() {
      height: $progress-item-height;
      flex-basis: 40%;
      border-bottom: none;
      background-color: transparent;

      span {
        width: auto;
        margin-left: 3vw;
        overflow: visible;
      }
    }
  }

  &.active,
  &.enabled {
    opacity: 1;
    cursor: pointer;
  }

  .number {
    $number-size: 1.8rem;
    height: $number-size;
    width: $number-size;
    min-width: $number-size;
    background-color: $indigo-blue;
    font-size: 0.8rem;
    border-radius: 50%;
    color: $light-blue;
    @include flex-horizontal;
    justify-content: center;
  }

  span {
    margin-left: 1rem;

    @include sm-mobile() {
      overflow: hidden;
      width: 0;
      margin-left: 0;
    }
  }
}
