@import 'styles/_variables';

.stepSection {
  h4 {
    margin: 0;
    margin-bottom: $spacing-1;
  }

  p {
    @extend %body-2;
    margin: 0;
    margin-bottom: $spacing-3;
  }
}

.stepSection > div {
  margin-bottom: $layout-3;
}
