@import "styles/_variables";
@import "styles/_mixins";

.button {
  display: inline-flex;
  justify-content: center;
  height: $button-height;
  min-width: $button-min-width;
  font-size: 1rem;
  background-color: $indigo-blue;
  border: 0;
  color: white;
  text-align: center;
  padding: 1px $border-radius 2px;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;

  &.alignRight {
    margin-left: auto;
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: darken($indigo-blue, 10%);
    outline: none;
  }

  &:active {
    background-color: darken($indigo-blue, 20%);
  }

  &:disabled {
    background-color: $light-grey;
  }
}
