pulumi config set --secret rdsMasterPassword "Not set"
pulumi config set --secret rdsMasterUsername "Not set"

pulumi config set --path --secret ebEnvironmentVariables.COOKIE_DOMAIN "Not set"
pulumi config set --path --secret ebEnvironmentVariables.AWS_REGION "Not set"
pulumi config set --path --secret ebEnvironmentVariables.API_KEY_SALT_V1 "Not set"
pulumi config set --path --secret ebEnvironmentVariables.DOMAIN_WHITELIST "Not set"
pulumi config set --path --secret ebEnvironmentVariables.REDIS_SESSION_URI "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SES_HOST "Not set"
pulumi config set --path --secret ebEnvironmentVariables.AWS_LOG_GROUP_NAME "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SES_PORT "Not set"
pulumi config set --path --secret ebEnvironmentVariables.FRONTEND_URL "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SECRET_MANAGER_SALT "Not set"
pulumi config set --path --secret ebEnvironmentVariables.DB_URI "Not set"
pulumi config set --path --secret ebEnvironmentVariables.REDIS_OTP_URI "Not set"
pulumi config set --path --secret ebEnvironmentVariables.JWT_SECRET "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SENTRY_DSN "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SESSION_SECRET "Not set"
pulumi config set --path --secret ebEnvironmentVariables.COOKIE_NAME "Not set"
pulumi config set --path --secret ebEnvironmentVariables.NODE_ENV "Not set"
pulumi config set --path --secret ebEnvironmentVariables.FILE_STORAGE_BUCKET_NAME "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SES_USER "Not set"
pulumi config set --path --secret ebEnvironmentVariables.SES_PASS "Not set"

pulumi config set --secret --path workerEnvironmentVariables.NODE_ENV "Not set"
pulumi config set --secret --path workerEnvironmentVariables.DB_URI "Not set"
pulumi config set --secret --path workerEnvironmentVariables.ECS_SERVICE_NAME_SENDER "Not set"
pulumi config set --secret --path workerEnvironmentVariables.ECS_SERVICE_NAME_LOGGER "Not set"
pulumi config set --secret --path workerEnvironmentVariables.SECRET_MANAGER_SALT "Not set"
pulumi config set --secret --path workerEnvironmentVariables.MESSAGE_WORKER_SENDER "Not set"
pulumi config set --secret --path workerEnvironmentVariables.MESSAGE_WORKER_LOGGER "Not set"

pulumi config set --secret --path twilioCallbackEnvironmentVariables.DB_URI "Not set"
pulumi config set --secret --path twilioCallbackEnvironmentVariables.TWILIO_CALLBACK_SECRET "Not set"
pulumi config set --secret --path emailCallbackEnvironmentVariables.DB_URI "Not set"

