@import 'styles/_variables';
@import 'styles/_mixins';

.detailBlock {
  @include block($neutral-light, $secondary, $secondary);
  overflow-wrap: anywhere;
  border-left: none;
  margin: 0;

  li {
    margin-bottom: $spacing-2;

    p {
      margin: 0;
    }
  }

  table {
    border: none;

    tr {
      display: table-row;
      height: auto;
      border: none;
    }

    td {
      display: table-cell;
      border: none;
    }
  }
}
