@import "styles/_variables";
@import "styles/_mixins";

.topContainer {
  background-color: $light-blue;
  height: 70vh;
  min-height: 420px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .innerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90vw;

    @include mobile() {
      justify-content: center;
    }

    .landingImg {
      display: flex;
      flex: 1;
      align-items: flex-end;
      @include mobile() {
        display: none;
      }
    }

    .title {
      @include app-name();
      margin-bottom: 1rem;
    }

    .appLogo {
      height: 120px;
      width: 120px;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      margin-bottom: 3rem;
    }
  }
}

.bottomContainer {
  background-color: $dark-blue;
  padding: 2rem 4rem;
  height: 30vh;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .linkBar {
    font-size: 0.75rem;
    display: flex;
    align-items: baseline;
    margin-bottom: -4px;
    @include mobile() {
      flex-direction: column;
    }

    .navTitle {
      font-weight: bold;
      letter-spacing: 3px;
      color: white;
      border-right: 1px solid white;
      padding-right: 3vw;
      text-transform: uppercase;
      font-weight: 500;
      @include mobile() {
        border-right: none;
        margin-bottom: 1rem;
      }
    }

    .navLink {
      color: white;
      margin: 0 3vw;
      &:hover,
      &:active {
        text-decoration: underline;
      }
      @include mobile() {
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .ogpLogo {
    height: 2rem;
  }
}
