@import 'styles/_variables';
@import 'styles/_mixins';

.previewInfo {
  border-radius: 1.25rem;
  padding: $spacing-3 $spacing-5;
  background: $neutral-light;

  h5 {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    color: $secondary;
    font-size: 1rem;
    margin-block-end: 0;
  }
}

.previewBody {
  margin-top: 3rem;

  * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
  }
}
