@import 'styles/_variables';
@import 'styles/_mixins';

.relativeContainer {
  position: relative;
  width: 100%;

  .errorBlock {
    &.absolute {
      position: absolute;
      left: 0;
      right: 0;
    }
    white-space: pre-wrap;
    @include block($light-red, $red);
  }
}
