@import 'styles/_variables';
@import 'styles/_mixins';

.relativeContainer {
  position: relative;

  .errorBlock {
    position: absolute;
    left: 0;
    right: 0;
    @include block($light-red, $red);
  }
}
