@import 'styles/_variables';
@import 'styles/_mixins';

.modalBg {
  background: $transparent-dark-blue;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  @include flex-horizontal;
  justify-content: center;
}

.modal {
  max-width: 860px;
  border-radius: 0.6rem;
  background-color: $light-blue;
  opacity: 1;
  @include flex-vertical;
  justify-content: center;
  align-items: stretch;
  padding: 3.5rem 10.3rem;
  position: relative;
}

.icon {
  @include icon;

  &.close {
    color: $indigo-blue;
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
  }
}