@import 'styles/_variables';
@import 'styles/_mixins';

$modal-width: $tablet;

.modalBg {
  @include flex-center();
  background: adjust-color($secondary, $alpha: -0.05);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
}

.modal {
  width: $modal-width;
  max-width: 100vw;
  border-radius: 0.6rem;
  background-color: $neutral-light;
  height: auto;
  max-height: calc(100vh - 4rem);
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  @include mobile {
    border-radius: 0;
    min-height: 100vh;
  }

  @include scrollbar($neutral-light, $neutral);
}

.content {
  max-width: 100vw;
  padding: 3rem ($modal-width - 528px) / 2;
  margin: auto;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
