name: End-to-end Test

# Controls when the workflow will run
on:
  workflow_dispatch:
  workflow_call:
    outputs:
      e2e_result:
        description: "Outcome of the e2e suite, enum<success, failure, skipped, cancelled>"
        value: ${{ jobs.playwright-run.outputs.outcome }}

jobs:
  set_environment:
    outputs:
      current_env: ${{ steps.set-environment.outputs.current_env }}
    runs-on: ubuntu-latest
    steps:
      - id: set-environment
        run: |
          echo "Running on branch ${{ github.ref }}"
          if [ "${{ github.ref }}" = "refs/heads/master" ]; then
            echo "current_env=production" >> $GITHUB_OUTPUT
          else
            echo "current_env=staging" >> $GITHUB_OUTPUT
          fi
  playwright-run:
    runs-on: ubuntu-latest
    needs: [set_environment]
    environment:
      name: ${{ needs.set_environment.outputs.current_env }}
    outputs:
      outcome: ${{ steps.playwright.outcome }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Write gmail credentials file
        env:
          GMAIL_CREDENTIALS: ${{ secrets.GMAIL_CREDENTIALS }}
          GMAIL_TOKEN: ${{ secrets.GMAIL_TOKEN }}
        run: |
          echo $GMAIL_CREDENTIALS > credentials.json
          echo $GMAIL_TOKEN > gmail_token.json
        working-directory: e2e
      - run: npm ci
        working-directory: e2e
      - run: npm run test
        id: playwright
        env:
          API_URL: ${{ github.ref == 'refs/heads/master' && 'https://api.postman.gov.sg' || 'https://api-staging.postman.gov.sg' }}
          DASHBOARD_URL: ${{ github.ref == 'refs/heads/master' && 'https://postman.gov.sg' || 'https://legacy-staging.postman.gov.sg' }}
          API_KEY: ${{ secrets.E2E_API_KEY }}
          TWILIO_ACC_SID: ${{ secrets.E2E_TWILIO_ACC_SID }}
          TWILIO_AUTH_TOKEN: ${{ secrets.E2E_TWILIO_AUTH_TOKEN }}
          SMS_NUMBER: "+6582410222"
          MAILBOX: internal-testing@open.gov.sg
        working-directory: e2e
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: e2e/playwright-report/
